.DS_Store
.dart_tool/
.vs_code

.packages
.pub/

build/

.flutter-plugins
.idea

upload_certificate.pem

FlutterWidgetGuide.iml

*.orig 
*.jks

.flutter-plugins-dependencies
.pubspec.lock

# Android related
android/app/bin
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
android/app/google-services.json
*.jks
